<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.user.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>Controllers.user.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>Controllers.user.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUserController</servlet-name>
        <servlet-class>Controllers.user.LogoutUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadBook</servlet-name>
        <servlet-class>Controllers.user.ReadBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookOverviewController</servlet-name>
        <servlet-class>Controllers.user.BookOverviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>Controllers.user.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controllers.user.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>Controllers.user.UserChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUserController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadBook</servlet-name>
        <url-pattern>/read-book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookOverviewController</servlet-name>
        <url-pattern>/book-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/user-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
